<div class="card-content">
  <div class="card-body">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/photos/12.jpg" alt="Random first slide">
        <div class="carousel-caption">
          <h3 class="ff-serif text-uppercase">First slide label</h3>
          <p class="mb-0">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/photos/17.jpg" alt="Random second slide">
        <div class="carousel-caption">
          <h3 class="ff-serif text-uppercase">Second slide label</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/photos/14.jpg" alt="Random third slide">
        <div class="carousel-caption">
          <h3 class="ff-serif text-uppercase">Third slide label</h3>
          <p class="mb-0">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>